        .heading1{
            padding:10px;
            text-align:center;
            background-color: #F1F1F1;
        }
        .heading2{
                    padding:10px;
                    background-color: #F1F1F1;
              }
        .btn{
            font-weight:bold;
            font-size:20px;
            color:#46A6FF;
            width:150px;
        }
        .image{
               margin:auto;
               width:100%;
        }